.md-subhead { font-weight: bold;}
md-card md-card-title + md-card-content { padding-top: 16px;}

.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.mt-0 { margin-top: 0; }
.info { width: 48%; display: inline-block;}
.error-message { font-size: 12px; }
.primary-title { background-color: #3f51b5; color: #fff; }
#dateInput { margin: 0; width: 100%; }
#status { color: green; }
#statusError { color: red; }
