<div ng-cloak>
  <md-content class="md-padding pt-0" layout="row">
    <div flex-xs flex-gt-xs="40" layout-xs="row" layout="column">
      <md-card>
        <md-card-title class="primary-title">
          <md-card-title-text>
            <span class="md-title">Información de ejecución</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content class="pb-0">
          <form name="appForm">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cédula ejecutor</label>
              <input ng-model="execution.exeIdentification" type="number" name="id" minlength="6" required>
              <div ng-messages="appForm.id.$error" role="alert">
                <div ng-message-exp="['required', 'minlength']">
                  Este campo debe tener mínimo 6 caracteres.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <input type="file" on-read-file="readFile($fileContent)" />
            </md-input-container>
          </form>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="saveExecution()" >Enviar</md-button>
        </md-card-actions>
      </md-card>
    </div>

    <div flex-xs flex-gt-xs="60" layout-xs="row" layout="column">
      <md-card>
        <md-card-title class="primary-title">
          <md-card-title-text>
            <span class="md-title">Ejecuciones</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-table-container>
            <table md-table>
              <thead md-head md-order="query.order">
                <tr md-row>
                  <th md-column md-order-by="exeIdentification"><span>Cédula</span></th>
                  <th md-column md-order-by="exeDate"><span>Fecha de ejecución</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="execution in executions | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                  <td md-cell>{{execution.exeIdentification}}</td>
                  <td md-cell>{{execution.exeDate | date: "fullDate"}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{executions.length}}" md-page-select="true" md-boundary-links="true" ng-show="executions.length > 10"></md-table-pagination>
        </md-card-content>
      </md-card>
    </div>
  </md-content>

  <md-content class="md-padding" layout="column" ng-show="message">
    <md-card>
      <md-card-content>
        <p>{{ message }}</p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
